# Node
node_modules/
npm-debug.log*

# Env files
.env

# Python
__pycache__/
*.pyc

# Build
dist/
build/

# OS
.DS_Store

backend/uploads/

# Logs
backend/logs/
*.log

# Vector Database (ChromaDB)
genai/app/knowledge_base/chroma_db/
