# Dependencies & Node modules
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.parcel-cache
.cache/
coverage/

# Env & configuration secrets
.env
.env.*
**/.env
**/.env.*

# Python files & Caches
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints/

# Python Virtual Environments
venv/
.venv/
env/
ENV/
**/venv/
**/.venv/
pyvenv.cfg
.python-version

# Builds & Outputs
dist/
build/
**/dist/
**/build/
backend/uploads/

# Logs
logs/
**/logs/
*.log

# IDEs & Editor Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.DS_Store
Thumbs.db